<html lang="en">
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">


  
	<!-- Bootstrap -->
	<link href="../../../../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- Font Awesome -->
	<link href="../../../../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- NProgress -->
	<link href="../../../../vendors/nprogress/nprogress.css" rel="stylesheet">
	<!-- iCheck -->
	<link href="../../../../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
	<!-- bootstrap-wysiwyg -->
	<link href="../../../../vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
	<!-- Select2 -->
	<link href="../../../../vendors/select2/dist/css/select2.min.css" rel="stylesheet">
	<!-- Switchery -->
	<link href="../../../../vendors/switchery/dist/switchery.min.css" rel="stylesheet">
	<!-- starrr -->
	<link href="../../../../vendors/starrr/dist/starrr.css" rel="stylesheet">
	<!-- bootstrap-daterangepicker -->
	<link href="../../../../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

	<!-- Custom Theme Style -->
	<link href="../../../../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
            <%- include ('./partials/sidebar') %>
            <!-- top navigation -->
            <%- include ('./partials/header') %>
			<!-- /top navigation -->

			<!-- page content -->
			<div class="right_col" role="main">
                
				<div class="">
					<div class="container-fluid">
                        <div class="page-header min-height-100 border-radius-xl mt-4" style="background-image: url('../../../../assets/img/curved-images/sds.jpg'); background-position-y: 50%;">
                          <span class="mask  opacity-6"></span>
                          <div >
                            <nav aria-label="breadcrumb">
                              <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Manage Job Applicants</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Add New Applicant</li>
                              </ol>
                            </nav>
                          </div>
                        </div>
                      
                      </div>
					<div class="clearfix"></div>
					<div class="row">
                        <%- include ('./partials/messages')%>
						<div class="col-md-12 col-sm-12 ">
							<div class="x_panel">
								<div class="x_title">
									<h2>Add New Applicant</h2>
									
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<br />
									<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" action="/applicant/createapplicant" method="post">

										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align" for="full-name">Full Name <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												<input type="text" id="full-name" name="fullname"  required="required" class="form-control ">
											</div>
										</div>
										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align" for="adsdetail">Gender:</label>
											<div class="col-md-6 col-sm-6">
												<select class="form-control" name="gender" id="gender">
													<option value="0">Select Gender</option>
													
													<option value="male">Male</option>
												
													<option value="female">Female</option>
												
												</select></div>
										</div>
										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align" for="phonenumber">Age <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												<input type="number" id="age"  name="age" required="required" class="form-control ">
											</div>
										</div>
										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align" for="phonenumber">Phone Number <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												<input type="text" id="phonenumber"  name="phonenumber" required="required" class="form-control ">
											</div>
										</div>
										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align" for="phonenumber">Address <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												<input type="text" id="address"  name="address" required="required" class="form-control ">
											</div>
										</div>
										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align" for="phonenumber">Profession <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												<input type="text" id="profession"  name="profession" required="required" class="form-control ">
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="item form-group">
													<label class="col-form-label col-md-3 col-sm-3 label-align" for="adsdetail">Career Level:</label>
													<div class="col-md-6 col-sm-6">
														<select class="form-control" name="expertiseLevel" id="expertiseLevel">
															<option value="0">Select Career Level</option>
															
															<option value="medium">Medium</option>
														
															<option value="expert">Expert</option>
														
														</select></div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="item form-group">
													<label class="col-form-label col-md-3 col-sm-3 label-align" for="adsdetail">Experience:</label>
													<div class="col-md-6 col-sm-6">
														<input type="text" id="experience" name="experience" class="form-control">
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="item form-group">
													<label class="col-form-label col-md-3 col-sm-3 label-align" for="adsdetail">Job Main Category:</label>
													<div class="col-md-6 col-sm-6">
														<select class="form-control" name="maincategory" id="maincategory">
															<option value="0">Select Job Main Category</option>
															<% if(jobmaincategory.length >0){%>
																<% jobmaincategory.forEach(function(row){%>
																	<option value="<%= row.catid %>"><%= row.catname %></option>
														
															<%	}) %>
															<%}else {}%>
														</select></div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="item form-group">
													<label class="col-form-label col-md-3 col-sm-3 label-align" for="adsdetail">Job Sub Category:</label>
													<div class="col-md-6 col-sm-6">
														<select class="form-control" name="subcategory" id="subcategory">
															<option value="0">Select Job Sub Category</option>
															<% if(jobsubcategory.length >0){%>
																<% jobsubcategory.forEach(function(row){%>
																	<option value="<%= row.subcatid %>"><%= row.subcatname %></option>
														
															<%	}) %>
															<%}else {}%>
														
														</select></div>
												</div>
											</div>
										</div>
										
										
									
										<div class="ln_solid"></div>
										<div class="item form-group">
											<div class="col-md-6 col-sm-6 offset-md-3">
												
												<button type="submit" class="btn btn-success btn-block">Submit</button>
											</div>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- /page content -->

			<!-- footer content -->
		<%- include ('./partials/footer')%>
			<!-- /footer content -->
		</div>
	</div>

	<!-- jQuery -->
	<script src="../../../../vendors/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap -->
	<script src="../../../../vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<!-- FastClick -->
	<script src="../../../../vendors/fastclick/lib/fastclick.js"></script>
	<!-- NProgress -->
	<script src="../../../../vendors/nprogress/nprogress.js"></script>
	<!-- bootstrap-progressbar -->
	<script src="../../../../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
	<!-- iCheck -->
	<script src="../../../../vendors/iCheck/icheck.min.js"></script>
	<!-- bootstrap-daterangepicker -->
	<script src="../../../../vendors/moment/min/moment.min.js"></script>
	<script src="../../../../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
	<!-- bootstrap-wysiwyg -->
	<script src="../../../../vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
	<script src="../../../../vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
	<script src="../../../../vendors/google-code-prettify/src/prettify.js"></script>
	<!-- jQuery Tags Input -->
	<script src="../../../../vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
	<!-- Switchery -->
	<script src="../../../../vendors/switchery/dist/switchery.min.js"></script>
	<!-- Select2 -->
	<script src="../../../../vendors/select2/dist/js/select2.full.min.js"></script>
	<!-- Parsley -->
	<script src="../../../../vendors/parsleyjs/dist/parsley.min.js"></script>
	<!-- Autosize -->
	<script src="../../../../vendors/autosize/dist/autosize.min.js"></script>
	<!-- jQuery autocomplete -->
	<script src="../../../../vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
	<!-- starrr -->
	<script src="../../../../vendors/starrr/dist/starrr.js"></script>
	<!-- Custom Theme Scripts -->
	<script src="../../../../build/js/custom.min.js"></script>

</body></html>
