<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>TVETPATHWAYS ADMIN</title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
	
    <!-- bootstrap-progressbar -->
    <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="../vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
      
        <%- include ('./partials/sidebar') %>
        <!-- top navigation -->
        <%- include ('./partials/header') %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
         

         
          <br />

          <div class="row">


            <div class="col-md-4 col-sm-4 ">
              <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                  <h2>Job Applications</h2>
                  <ul class="nav navbar-right panel_toolbox">
                  
                   
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <h4>Applications By Professtion</h4>
                  <% if(jobappn.length >0){%>
                   <% jobappn.forEach(function (row){%>
                      <div class="widget_summary">
                        <div class="w_left w_25">
                          <span><%= row.subcatname %></span>
                        </div>
                        <div class="w_center w_55">
                          <div class="progress">
                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="<%= row.count %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= row.count %>%;">
                              <span class="sr-only"> <%= row.count %> Complete</span>
                            </div>
                          </div>
                        </div>
                        <div class="w_right w_20">
                          <span><%= row.count %></span>
                        </div>
                        <div class="clearfix"></div>
                      </div>
    
                    <%})%>
                  <%}else{}%>
                 
                 

                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4 ">
              <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                  <h2>Subscribers</h2>
                  <ul class="nav navbar-right panel_toolbox">
                  
                  
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <th style="width:37%;">
                    <p>Subscription By Profession</p>
                  </th>
                  <table class="" style="width:100%">
                    <tr>
                     
                      <th>
                        <div class="col-lg-7 col-md-7 col-sm-7 ">
                          <p class="">Profession</p>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 ">
                          <p class="">Number</p>
                        </div>
                      </th>
                    </tr>
                    <tr>
                    
                      <td>
                        <table class="tile_info">
                          
                          <% if(jobappn.length >0){%>
                            <% jobappn.forEach(function (row){%>
                               
                               <tr>
                                <td>
                                  <p><i class="fa fa-square blue"></i><%= row.subcatname %> </p>
                                </td>
                                <td><%= row.count %></td>
                              </tr>
                             <%})%>
                           <%}else{}%>
                          
                        </table>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>


            <div class="col-md-4 col-sm-4 ">
              <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                  <h2>Registered Job Finders</h2>
                  <ul class="nav navbar-right panel_toolbox">
                   
                 
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <h4>Job Finders By Professtion</h4>
                  <% if(applicant.length >0){%>
                   <% applicant.forEach(function (row){%>
                      <div class="widget_summary">
                        <div class="w_left w_25">
                          <span><%= row.subcatname %></span>
                        </div>
                        <div class="w_center w_55">
                          <div class="progress">
                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="<%= row.count %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= row.count %>%;">
                              <span class="sr-only"> <%= row.count %> Complete</span>
                            </div>
                          </div>
                        </div>
                        <div class="w_right w_20">
                          <span><%= row.count %></span>
                        </div>
                        <div class="clearfix"></div>
                      </div>
    
                    <%})%>
                  <%}else{}%>
                </div>
              </div>
            </div>

          </div>


          <div class="row">
    

            <div class="col-md-12 col-sm-12 ">


        
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
      <%- include ('./partials/footer') %>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="../vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="../vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="../vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="../vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="../vendors/Flot/jquery.flot.js"></script>
    <script src="../vendors/Flot/jquery.flot.pie.js"></script>
    <script src="../vendors/Flot/jquery.flot.time.js"></script>
    <script src="../vendors/Flot/jquery.flot.stack.js"></script>
    <script src="../vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="../vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="../vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="../vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="../vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="../vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="../vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="../vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../vendors/moment/min/moment.min.js"></script>
    <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>
	
  </body>
</html>
